{% extends 'base.html.twig'%}
{% block title %}
Inscription
{% endblock %}

{% block body %}
<h1> Inscription de sité </h1>
{{ form_start(form_insp) }}
{{ form_row(form_insp.name,{'label':'Nom d\'utilisateur','attr':{'placeholder':'Nom d \'utilisateur'}}) }}
{{ form_row(form_insp.username,{'label':'Nom d\'utilisateur','attr':{'placeholder':'Nom d \'utilisateur'}}) }}
{{ form_row(form_insp.firstname,{'label':'Prenom d\'utilisateur','attr':{'placeholder':'Prenom d \'utilisateur'}}) }}
{{ form_row(form_insp.avatar,{'label':'Avatar','attr':{'placeholder':'Avatar'}}) }}
{{ form_row(form_insp.email,{'label':'Adress email','attr':{'placeholder':'Adress mail'}}) }}
{{ form_row(form_insp.password,{'label':'Mot de passe','attr':{'placeholder':'Votre mot de passe'}}) }}
{{ form_row(form_insp.confirm_password,{'label':'Confirmer','attr':{'placeholder':'Confirmer votre mot de passe'}}) }}
<button Type ="Submit" class='btn btn-success'>s'inscrire</button>
{{ form_end(form_insp)}}


{% endblock body %}