{% extends 'base.html.twig'%}
{% form_theme commentaireForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
<section class="article">
<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">Ecrit le 10/09/2020 à 19h00 dans le categorie Politique</div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, expedita natus. Dicta accusantium corrupti magni.</p>
        <p>Temporibus asperiores suscipit accusantium ratione recusandae, magni, dolorum dicta architecto ut debitis quia voluptatibus dolore.</p>
        <hr>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur atque et, dicta cum totam, sint eaque, dolore in aperiam facilis eos? Reprehenderit excepturi accusantium sequi, aperiam sint voluptatibus voluptatem optio alias, quidem ex saepe? Alias, eaque porro. Corporis debitis, quae hic beatae repellat iure earum explicabo quisquam iste animi ipsum esse ducimus ipsa dolore saepe facere maiores consectetur. Consequuntur, amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex consequatur, nam quia officia eius optio vel voluptates provident, sequi possimus perspiciatis est doloremque modi non maxime aliquid dolore at. Neque sapiente odit aut exercitationem itaque maxime quae, nobis commodi vel. Odio distinctio quos ducimus aut neque, at expedita rerum quae.</p>
    </div>
</article>
<hr>
 <section id="commentaire">
<h1>{{ article.content | length }} Commentaires:</h1> 
{% for comment in article.content %}
<div class="commentaire">
<div class="row">
    <div class="col-3">
     {{ comment.email }} (<small>{{comment.createdAt| date('d/m/y') }})
     </div>
       <div class="col">
        {{comment.content | raw}}
        </div>
  </div>
</div>
{% endfor %} 
</section>

{{ form_start(commentaireForm) }}
{{form_row(commentaireForm.email)}}
{# {{form_row(commentaireForm.pseudo)}} #}
{{form_row(commentaireForm.contenu)}}
{{form_row(commentaireForm.rgpd)}}
<button type ="submit" class="btn btn-success">
Envoyer
 </button>
{{ form_end(commentaireForm) }}

{% endblock body %}
   
 
